*{margin: 0; padding: 0;}
body{background: rgb(177, 177, 177);}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
p{
    font-size: 6.5rem;
    font-weight:700 ;
    font-family: Veranda, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #919191,
    1px 1px 1px #919191,1px 3px 1px #919191,
    1px 2px 1px #919191,1px 5px 1px #919191,
    1px 6px 1px #919191,1px 7px 1px #919191,
    1px 8px 1px #919191,1px 9px 1px #919191,
    1px 20px 6px rgba(0, 0, 0, 0.5),
    1px 20px 8px rgba(0, 0, 0, 0.4),
    1px 20px 1px rgba(0, 0, 0, 0.3);

}